h1 {color:blue;
font-family:helvetica;
background-color: yellow;
border: 10px solid black;
padding: 50px;
}
p {
  color:red;
}
body{
  background-color: grey;
}
img {
  border: 5px solid yellow;
  width: 50%;
  height: 50%;
}
